<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.game.gamming.mapper.GammingPartnerMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="GammingPartnerResultMap" type="com.db.entity.GammingPartnerEntity">
        <result column="content" property="content" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
        <result column="id" property="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="name" property="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
    </resultMap>
    <sql id="base_Column_List">
        content,create_time,id,name,update_time
    </sql>
    <sql id="where_clause_not_null">
        <where>
            <if test="content != null">AND content = #{content}</if>
            <if test="createTime != null">AND create_time = #{createTime}</if>
            <if test="id != null">AND id = #{id}</if>
            <if test="name != null">AND name = #{name}</if>
            <if test="updateTime != null">AND update_time = #{updateTime}</if>
        </where>
    </sql>
    <sql id="set_clause_not_null">
        <trim prefix=" " prefixOverrides=",">
            <if test="content != null">, content = #{content}</if>
            <if test="createTime != null">, create_time = #{createTime}</if>
            <if test="id != null">, id = #{id}</if>
            <if test="name != null">, name = #{name}</if>
            <if test="updateTime != null">, update_time = #{updateTime}</if>
        </trim>
    </sql>

</mapper>
