<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="db.mysql.mappers.GlobalTableIdMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="GlobalTableIdResultMap" type="db.mysql.entities.GlobalTableIdEntity">
            <result column="id" property="id" jdbcType="INTEGER"
                    javaType="java.lang.Integer"/>
            <result column="gen_id" property="genId" jdbcType="BIGINT"
                    javaType="java.lang.Long"/>
            <result column="table" property="table" jdbcType="VARCHAR"
                    javaType="java.lang.String"/>
    </resultMap>
    <sql id="base_Column_List">
        id,gen_id,table
    </sql>
    <sql id="where_clause_not_null">
        <where>
                <if test="id != null">AND  id
                = #{id}</if>
                <if test="genId != null">AND  gen_id
                = #{genId}</if>
                <if test="table != null">AND  table
                = #{table}</if></where>
    </sql>
    <sql id="set_clause_not_null">
        <trim prefix=" " prefixOverrides=",">
                <if test="id != null">, id
                = #{id}</if>
                <if test="genId != null">, gen_id
                = #{genId}</if>
                <if test="table != null">, table
                = #{table}</if></trim>
    </sql>
    <select id="selectOneForUpdate" parameterType="db.mysql.entities.GlobalTableIdEntity"
            resultMap="GlobalTableIdResultMap">
        select
        <include refid="base_Column_List"/>
        from global_table_id t
        <include refid="where_clause_not_null"/>
    </select>
</mapper>
